html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 300;
    text-transform: uppercase;
    color: #787b7e;
}

footer {
    font-weight: 600;
    background-color: #B2C4CB;
    color: white;
}

/* NAVBAR */
.bg-viajes-chile {
    background-color: #F3F3E7;
}

#nav-title {
    color: white;
    text-transform: capitalize;
    font-weight: 600;
}

.navbar-nav {
    letter-spacing: 0.1875rem;
    text-transform: lowercase;
    font-size: smaller;
}



/* QUIENES SOMOS */
.title-descripcion {
    color: #787b7e;
    letter-spacing: 0.625rem;
}

.title-icon {
    color: #B2C4CB
}

.txt-descripcion {
    color: #999DA0;
    letter-spacing: 0.125rem;
}

.titulo-destinos {
    color: #787b7e;
}

/* DESTINOS DESTACADOS */
/* Emparejar tamaño de fotos cards */
.card-img-top {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

/* CONTACTO */
.bg-form {
    background-color: #F09CA2;
}


/* MEDIA QUERIES */
/* Si pantalla es igual o mayor a 1200px ancho */
@media (min-width: 1200px) {
    h1 {
        font-size: 34px;
        letter-spacing: 20px;
    }

    #nav-title {
        font-size: 13px;
        letter-spacing: 13px;
    }

    .txt-descripcion {
        font-size: 12px;
        line-height: 2;
    }

    .titulo-destinos {
        font-size: 1.0625rem;
        letter-spacing: 0.625rem;
    }

    #title-footer {
        font-size: 17px;
        letter-spacing: 13px;
    }
}

/* Si pantalla es menor a 1200px ancho */
@media (max-width: 1199.98px) {
    h1 {
        font-size: 15px;
        letter-spacing: 10px;
    }

    #nav-title {
        font-size: 13px;
        letter-spacing: 7px;
    }

    .txt-descripcion {
        font-size: 13px;
        line-height: 1.5;
    }

    .titulo-destinos {
        font-size: 25px;
        letter-spacing: 5px;
    }
    #title-footer {
        font-size: 15px;
        letter-spacing: 7px;
    }
}